body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color:black;
  }



  *header section*/
  .hero_area {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .sub_page .who_section.layout_padding {
    padding-top: 0;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {
    background-color:rgb(235, 99, 235);
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    margin: 10px 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active a::after, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover a::after {
    display: block;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
  }
  
  .user_option a {
    color: #ffffff;
    margin: 10px 30px;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  .navbar-brand span {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    z-index: 3;
  }
  
  .navbar-brand::before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 45px;
    height: 45px;
    background-color: #30ae69;
    z-index: 2;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../ft/menu.png);
    background-size: 55px;
  }
    


.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 255, 0.836);
    height: 40vh;
    border-radius:0 59px 0 59px;
    margin-top: 29px;
  }

  .first h1{
    font-family: cursive;
    }

    .first p{
        font-family: fantasy;
        }

  .first img {
width: 15%;
border-radius:50%;

}

.abt{
   text-align:center ;
   font-family: fantasy;
    }

    .abt h1 {
       color: rgb(255, 7, 255);
       font-size: 26pt;
       font-family: cursive;
        }


          .products{
           padding: 20px;
           display: flex;
           justify-content: space-around;
           align-items: center;
           flex-direction: row;
flex-wrap: wrap;
color: white;
          }
          
          .products{
              margin-top: 12px;
              text-align: center;
           }
                     
          .product{
flex: 1 1 300px;
margin: 10px;
padding: 20px;
background-color:rgb(212, 111, 212);
border-radius: 5px;
          }

          .product img{
    height: auto;
    max-width: 40%;
    border-radius: 49px 0 49px 0;
          }

          .dd{
              color: rgb(250, 0, 250);
              font-family: cursive;
              text-align: center;
              
        }


        footer{
            background: rgb(201, 71, 201);
            height: auto;
            text-align: center;
            color: white;
      }

      footer h1{
          font-family: cursive;
         }

         footer p{
            font-family: fantasy;
           }